<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__container">
  <div class="login__Container">

    <!-- Ocupa 40% da tela -->
    <div class="login__Container__presentation">
      <img src="LogoPaginaInicial.png" alt="Logo aplicativo">
      <h1 class="h1_presentation">CuidApp</h1>
      <h2 class="h2_presentation">TeleConsulta</h2>
    </div>

    <!-- Ocupa 60% da tela -->
    <div class="login__Container__input">
      <div class="login__Container__input__title">
        <h1>Bem-vindo a sua rede de saúde</h1>
        <p>Faça Login para acessar sua conta</p>
      </div>

      <div class="login__Container__input__types">
        <input type="email" placeholder="📧Email" formControlName="email">
        <input type="password" placeholder="🔒Senha" formControlName="password">

        <label class="toggle-switch">
          <span class="toggle-label">Você é enfermeiro(a)?</span>
          <input type="checkbox" formControlName="typeUser" />
          <span class="slider"></span>
        </label>
      </div>

      <button [disabled]="isLoading" [class.loading]="isLoading">
        {{ isLoading ? 'Carregando...' : 'Entrar' }}
      </button>

      <button (click)="goToRegister()">Registrar-se</button>
    </div>
  </div>
</form>
