<div class="options__welcome">
    <div class="options__welcome__line">
        <button class="optionButton">
            histórico de consultas
        </button>

        <button class="optionButton">
            histórico de pagamentos
        </button>
    </div>

    <div class="options__welcome__line">
        
        <button class="optionButton">
            Retornos Agendados
        </button>

        <button class="optionButton">
            Consultas Agendadas
        </button>

    </div>
</div>