.welcome-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  padding: 2rem;
  background-color: #f9f9f9;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #013f29;
  }

  p {
    font-size: 1.1rem;
    color: #333;
  }
}
