<div class="options__welcome">
    <div class="options__welcome__line">
        <button class="optionButton" (click)="navigateToCreateConsult()">
            Agendar consulta
        </button>

        <button class="optionButton" (click)="navigateToListConsults()">
            Ver Consultas
        </button>
    </div>

    <div class="options__welcome__line">

        <button class="optionButton">
            Ver todos atendimentos
        </button>

        <button class="optionButton">
            Consultas do dia
        </button>

    </div>
</div>